:root {
  --borderWidth: 5px;
}
body {
  font-size: 1.6rem;
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: inline-block;
  min-height: calc(100vh - var(--borderWidth) * 5);
  width: calc(100% - var(--borderWidth) * 5);
  text-align: center;
}

/* Background color */
label[for=bgdColorPicker] {
  display: block;
  color: white;
  margin-top: 10vh;
}
input#bgdColorPicker {
  margin-left: 5px;
}
input[type=color] {
  height: 2.8rem;
  border: 0;
  padding: 0 2px;
  vertical-align: middle;
}

/* Quiz */
ul.quiz {
  display: inline-block;
  text-align: left;
  list-style: none;
  font-size: 1.8rem;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0;
  margin: 8vh 0;
}
li {
  margin: 2rem;
}
a, a:visited, a::selection {
  all: unset;
  color: black;
}
.colorName {
  font-family: 'Bitter', serif;
  font-style: italic;
  font-weight: 700;
}
@keyframes shake {
  10% {
    transform: translate(1px, -2.5px) rotate(-2.5deg);
  }
  20% {
    transform: translate(-2px, 0px) rotate(4deg);
  }
  30% {
    transform: translate(1.5px, 4px) rotate(-2.5deg);
  }
  40% {
    transform: translate(-2.5px, 1px) rotate(3deg);
  }
  50% {
    transform: translate(1px, 2.5px) rotate(0deg);
  }
  60% {
    transform: translate(-2px, -1.5px) rotate(-4deg);
  }
  70% {
    transform: translate(2.5px, -2px) rotate(3deg);
  }
  80% {
    transform: translate(0px, 1.5px) rotate(-3deg);
  }
  90% {
    transform: translate(-2.5px, 2.5px) rotate(2.5deg);
  }
  0%, 100% {
    transform: translate(0, 0) rotate(0);
  }
}

/* 정답 입력 */
form {
  display: inline;
}
input[type=number] {
  all: unset;
  width: 3.1rem;
  font-family: inherit;
  height: 1.8rem;
  vertical-align: baseline;
  border-bottom: 2px solid black;
  padding-bottom: 1px;
  margin-right: 1px;
}
input[type=number]:focus {
  outline: none;
  border-bottom: 2px solid #8268db;
}
input[type=submit] {
  display: none;
}

/* 힌트 */
button.hint {
  all: unset;
  display: block;
  width: 6rem;
  text-align: left;
  color: black;
  background: white;
  border: 2px solid black;
  padding: 0 10px;
  margin: 0 20px 10px 20px;
}
.engFont {
  font-family: 'Bitter', serif;
  font-style: italic;
  font-weight: 600;
}
div.hint {
  font-size: 1.5rem;
  text-align: justify;
  margin: -5px 20px 20px 20px;
}
.hidden {
  display: none;
}

/* 테두리 */
.gradientBorder {
  position: relative;
  border-radius: var(--borderWidth);
}
.gradientBorder::after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}
.onload.gradientBorder::after {
  top: calc(-2.5 * var(  --borderWidth));
  left: calc(-2.5 * var(  --borderWidth));
  height: calc(100% + var(--borderWidth) * 5);
  width: calc(100% + var(--borderWidth) * 5);
  border-radius: 0;
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
